/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
        .col-md-4 img{
            border: 2px solid red;
        }  
} 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .col-md-4 img{
            border: 2px solid blue;
        }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .col-md-4 img{
            border: 2px solid orange;
        }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .col-md-4 img{
            border: 2px solid violet;
        }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .col-md-4 img{
            border: 2px solid green;
        }
}